.user-img {
        width: 80%;
        height: 200px;
        text-align: center;
        margin: 0 auto 20px;
        display: block;
        object-fit: contain;
}

.user {
    width: 28%;
    background: blue;
    border-radius: 20px;
    padding: 20px;
}

.user-name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px
}


.user-date{
    color: #fff;
    font-size: 18px;
    text-align: right;
    display: block;
}
.user-gender{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
}
.user-gender__img{
    width: 50px;
    height: 50px;
    text-align: center;
    object-fit: contain;
}



@media (max-width: 768px){
    .user {
        width: 100%;
        border-radius: 10px;
        padding: 15px;
    }
}